<div class='row'>
  <div class='col-sm-6 center-block no-float'>
    <%= form_for @tile, url: tile_path(@tile.id), method: :put do |form| %>
      <div class="form-group">
        <div class="col-sm-8 padded uivalidate center-block no-float">
          <%= form.text_field :content, placeholder: 'content goes here', class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8 padded uivalidate center-block no-float">
          <%= form.text_field :href, placeholder: 'href goes here', class: 'form-control h5-url', required: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8 padded center-block no-float">
          <label>publish?</label>
          yes
          <%= form.radio_button :published?, true %>
          no
          <%= form.radio_button :published?, false %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 padded center-block no-float">
          <%= form.submit placeholder: 'create', class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
