<div class='row'>
  <div class='col-sm-4 center-block no-float'>
    <h2>Display Creation</h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6 center-block no-float'>
    <%= form_for @display do |form|%>
      <div class="form-group">
        <div class="col-sm-8 padded center-block no-float">
          <label>publish?</label>
          yes
          <%= form.radio_button :published?, true %>
          no
          <%= form.radio_button :published?, false %>
        </div>
      </div>
      <%= form.fields_for :tile_indices do |ti| %>
        <div class="form-group panel panel-default">
          Please select the contents of Tile in Position #<%= ti.index + 1 %>.
          <div class="col-sm-8 padded center-block no-float">
            <%= ti.select :tile_id, options_from_collection_for_select(@tiles, "id", "href", set_display_index_value(ti.index + 1, @tile_indices)) %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-8 padded center-block no-float">
          <%= form.submit value: 'update published status', class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6 center-block no-float'>
  </div>
</div>
